/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	margin: 0;
    padding: 0;
    font-family: assets/SourceSansPro-Regular.otf;
    line-height: 1;
}
 
/* HEADER */
.hero-container{
    background-image: url('assets/headphones_hero_1.jpg');
    background-position: center;
    background-size: cover;   
}
.hero-wrapper{
    margin: auto;
    height: 100vh;
    padding: 15%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    margin: 5% auto;
}
.nav{
    display: none;
}
.menu-icon {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.menu-line{
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 30px;
}
.menu-line:nth-child(2){
    width: 20px;
}
.menu-icon{
    display: none;
}
.header-logo{
    margin: 10% 0;
}
.hero-wrapper{
    padding: 0 20%;
}
.nav{
    display: flex;
    list-style-type: none;
    gap: 5%;
}
.navbar-menu{
    color: white;
    text-decoration: none;
    font-family: var(--font-family-bold);
    font-weight: 500;
}

ol, ul {
	list-style: none;