/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body,p,a,ul,li,h1,h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	list-style-type: none;
    text-align: center;
}

/* styling */

body {
	margin: 0;
    padding: 0;
    font-family: 'SourceSansPro-Regular.otf';
    line-height: 1;
}


.Head{
    text-align: center;
    font-weight: 400%;
    font-size:x-large;
    padding: 1%;
}

/* Base section */
.base{
    background-image: url('assets/headphones_hero_2.jpg');
    background-position: center;
    background-size: cover;   
}
.base-note h1{
color: white;
text-align: center;
text-decoration: none;
padding: 5%;
}
.base-note p{
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    padding: 2%;
}
.dots{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: space-around;
    padding: 1%;

}